asistente/n8n_flujo.json
{
  "name": "PÓRTICO — chat → LLM (OpenRouter) → ficha → modelo .s3d",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portico",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (mensaje)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "portico-asistente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Title", "value": "PORTICO Asistente" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/llama-3.3-70b-instruct:free\",\n  \"temperature\": 0,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Eres un asistente que convierte la descripcion de una estructura en una FICHA JSON para PORTICO. Responde SOLO con el JSON de la ficha, sin texto ni markdown. Campos: proyecto, modo (2D|3D), ubicacion{ciudad,latitud_sur_deg,altitud_msnm,exposicion(B|C|D)}, geometria{niveles:[{altura_m,uso_NCh1537?,sobrecarga_uso_kN_m2?}],vanos_x?,vanos_y?,planta_inferior?{Lx_m,Ly_m},planta_superior?,pendiente_techo_deg?,ancho_tributario_m?(solo 2D)}, secciones{material,vigas,pilares}, apoyo_base(empotrado|rotulado), diafragma_rigido, cargas{muerta_adicional_kN_m2,uso_NCh1537,sobrecarga_uso_kN_m2,cierre_viento,nieve,viento,sismo}, sismo{zona(1|2|3),suelo(A..E),categoria(I..IV),R}. vanos_x/vanos_y: lista [3,3,3,4] o {cantidad,luz_m} (ej. '4 vanos de 3 m en X' -> vanos_x:{cantidad:4,luz_m:3}). Cada nivel puede tener uso distinto (niveles[k].uso_NCh1537, ej. nivel 1 Salas de Clases, nivel 3 Bodegas livianas). Omite lo no mencionado; no inventes valores de ingenieria. secciones.vigas/pilares: perfil de acero ('IPE300','HEB200') O seccion rectangular de hormigon {b_cm,h_cm} (viga 20x40 -> {b_cm:20,h_cm:40}). material: acero S275/A630-420H u hormigon H20/H25/H30/H40 (fc MPa -> H{fc}).\" },\n    { \"role\": \"user\", \"content\": $('Webhook (mensaje)').item.json.body.mensaje }\n  ]\n}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "LLM (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extrae la ficha del texto del LLM (formato OpenAI/OpenRouter).\nlet raw = $json.choices?.[0]?.message?.content ?? $json.choices?.[0]?.text ?? '';\nraw = String(raw).trim().replace(/^```(json)?/i, '').replace(/```$/, '').trim();\nconst i = raw.indexOf('{'), j = raw.lastIndexOf('}');\nif (i < 0 || j < 0) throw new Error('El LLM no devolvio JSON: ' + raw.slice(0, 200));\nconst ficha = JSON.parse(raw.slice(i, j + 1));\nreturn [{ json: { ficha } }];"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Extraer ficha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "// Genera el modelo .s3d invocando el CLI determinista (ya probado).\n// REQUISITOS en n8n self-hosted (local):\n//   - variable de entorno PORTICO_DIR = ruta absoluta del repo structweb3d\n//   - NODE_FUNCTION_ALLOW_BUILTIN=child_process,path  (o '*')\nconst { execFileSync } = require('child_process');\nconst path = require('path');\nconst dir = process.env.PORTICO_DIR || 'C:/Workspace/analisis_estructural_dinamico';\nconst cli = path.join(dir, 'asistente', 'generar_cli.mjs');\nconst ficha = $json.ficha;\nlet out;\ntry {\n  out = execFileSync('node', [cli], { input: JSON.stringify(ficha), encoding: 'utf8', maxBuffer: 50 * 1024 * 1024 });\n} catch (e) {\n  throw new Error('generador: ' + (e.stderr || e.message));\n}\nconst modelo = JSON.parse(out);\nreturn [{ json: { ficha, resumen: modelo._generado?.resumen, modelo } }];"
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Generar modelo (.s3d)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ficha\": $json.ficha, \"resumen\": $json.resumen, \"modelo\": $json.modelo } }}",
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "Webhook (mensaje)": { "main": [[{ "node": "LLM (OpenRouter)", "type": "main", "index": 0 }]] },
    "LLM (OpenRouter)": { "main": [[{ "node": "Extraer ficha", "type": "main", "index": 0 }]] },
    "Extraer ficha": { "main": [[{ "node": "Generar modelo (.s3d)", "type": "main", "index": 0 }]] },
    "Generar modelo (.s3d)": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
